

<section class="w-full md:pl-[20%] lg:pl-[15%] px-8 py-16 bg-gray-400 dark:bg-slate-900 xl:px-8">
    <div class="max-w-5xl mx-auto">
     <li class="hidden flex-1 mb-10 ">
            <%= link_to root_path do %>
              <%= image_tag("logo/logo-icon-50x50.png", class:'pr-0 md:pr-3 m-auto', alt: "segura & company logo") %>
            <% end %>
            </li>  
        <div class="flex flex-col items-center md:flex-row">
           

            <div class="w-full space-y-5 md:w-3/5 md:pr-16">
                <p class="font-medium text-xl text-blue-500 uppercase">Build Your Dream</p>
                <h2 class="text-2xl font-extrabold leading-none text-gray-200 sm:text-3xl md:text-5xl">
                    Your project is waiting.
                </h2>
                <p class="text-xl text-gray-300 dark:text-gray-200 md:pr-16">Update project details.Check your project status. Make a payment.</p>
            </div>

            <div class="w-full mt-16 md:mt-0 md:w-2/5">
                <div class="relative z-[2] rounded-xl h-auto p-8 py-10 overflow-hidden bg-gray-600 shadow-2xl shadow-gray-800 px-7">
               

                    <h3 class="mb-6 text-2xl font-medium text-center text-gray-400">Sign in to your Account</h3>
                      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                      <div class="field">
                      <%#= f.label :email, class:"text-slate-200 dark:text-slate-600" %><br />
                      <%= f.email_field :email, autofocus: true, class:"text-gray-900 block w-full px-4 py-3 mb-4 border border-2 border-transparent border-gray-200 focus:ring focus:ring-blue-500 focus:outline-none rounded-xl", autocomplete: "email", placeholder: 'Email address' %>
                    </div>

                    <div class="field">
                      <%#= f.label :password, class:"text-slate-200 dark:text-slate-600" %><br />
                      <%= f.password_field :password, autocomplete: "current-password", class:"text-gray-900 block w-full px-4 py-3 mb-4 border border-2 border-transparent border-gray-200 focus:ring focus:ring-blue-500 focus:outline-none rounded-xl", placeholder: "Password"%>
                    </div>

                    <% if devise_mapping.rememberable? %>
                      <div class="field mb-10 m-auto table">
                        <%= f.check_box :remember_me, class:"" %>
                        <%= f.label :remember_me, class: 'ml-5 text-slate-200 dark:text-slate-600' %>
                      </div>
                    <% end %>

                    <div class="actions">
                      <%= f.submit "Log Me In", class:"w-full px-3 py-4 font-medium text-white bg-blue-600 rounded-xl" %>
                    </div>
                  <% end %>
                   
                    <div class="hidden">
                        <button class="w-full px-3 py-4 font-medium text-white bg-blue-600 rounded-none">Log Me In</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


<%= render "devise/shared/links" %>
